/* html {

    white-space: pre-line;
} */

.main-inp-row {
    position: fixed;
    bottom: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin: auto;
}

/* .main-inp-usrnm {
    right: auto;
} */

/* .main-inp-row input { 
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; 
} */